body{
}
.contenedor{
	display: flex;
	width: 100%;
	margin-top: 25px;
}
.header{
	background: #e91e96;
	height: 40px;
}
.link{
	width: 100%;
	padding: 10px;

}
.link a{
	font-weight: bold;
	color: white;
	text-decoration: none
}
.link:hover{
	background: pink;
}
.link:active{
	background: red;
}
.menu{
	background: #e91e96;
	width: 20%;
	height: 600px;
}
.contenido{
		display: flex;
	height: 600px;
	flex-wrap: wrap;
	width: 80%;
	padding-left: 40px;
}
.text-center{
	text-align:center;
	margin-left: 10px;
	margin-right: 10px;
}
.text-justify{
	text-align:justify;
	margin-left: 10px;
	margin-right: 10px;
}
.contRosa{
	border: 1px solid #e91e96;
	width: 30%;
	height: 300px;
	border-radius: 5%;
	margin: 5px;
}
.texto{
	width: 30%;
}
.textBlack{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	background-color: #f4f4f4;
	margin: 20px 50px ;
	padding-bottom: 20px;
	padding-top: 20px;
}
.under{
	border-bottom: 2px solid black;
}
.under2{
	border-bottom: 4px solid black;
}