.centrar{
	text-align: center;
}
#first {
	width:50%;
	background-color: grey;
}
#first img {
	width:50%;
	border-top: 10px solid violet;
	border-bottom: 10px dashed yellow;
}
#first, #second {
			margin: 50px
			padding: 30px;	}
span{
	text-decoration: underline;}
p{
	font-size: 0.5em;
	font-weight: bold;
	text-align: left;
	text-indent: 100px;
}